<div class="app">
   <div class="baye_top_panel"></div>
      <nav class="navbar navbar-light bg-faded">
          <!--a class="navbar-brand" href="#">Menu</a-->
             <ul class="nav navbar-nav">
                     <li class="nav-item active">
                           <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le mouridisme</a>
                         <ul class="dropdown-menu">
                              <li><a [routerLink]="['/mourideText']">Mouridisme</a></li>
                              <li><a href="#">L'oeuvre de Serigne Touba</a></li>
                              <li><a href="#">Le mouridisme</a></li>
                              <li><a href="#">Ville sainte de Touba</a></li>
                              <li><a href="#">Magal de Touba</a></li>
                         </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le makarimal akhlaq</a>
                        <ul class="dropdown-menu">
                             <li><a href="#">Génèse</a></li>
                             <li><a href="#">Bibliographie de S. Abdou Karim</a></li>
                             <li><a href="#">Sa mission</a></li>
                             <li><a href="#">Ses réalisation</a></li>
                             <li><a href="#">Un modèle d'éducation</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Les dahira</a>
                        <ul class="dropdown-menu">
                             <li><a href="#">Fédération Makarimal Akhlaq</a></li>
                             <li><a href="#">Kourel Pakatas</a></li>
                             <li><a href="#">Fondation Touba Dieuf Dieul</a></li>
                             <li><a href="#">Tarbiyatou wal Addaby</a></li>
                             <li><a href="#">Makarimal Akhlaq Touba</a></li>
                             <li><a href="#">Boolo Moy Dolé (B.M.D)</a></li>
                             <li><a href="#">Kourel Sokhna Mai L. Mbacké</a></li>
                              <li><a href="#">Kourel Touba Khadim Ndao</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mediathèque</a>
                         <ul class="dropdown-menu">

                              <li><a  [routerLink]="['/video']" (click) = 'clickedMedia("video")'>Vidéos</a></li>
                              <li><a  [routerLink]="['/audio']" (click) = 'clickedMedia("audio")'>Audios</a></li>
                              <li><a  [routerLink]="['/photo']" (click) = 'clickedMedia("photo")'>Photos</a></li>
                              <li><a >Archive</a></li>
                          </ul>
                    </li>
             </ul>
          <form class="form-inline pull-xs-right">
                  <input class="form-control" type="text" placeholder="Search">
                  <button class="btn btn-success-outline" type="submit">Search</button>
          </form>

      </nav>
      <div class="row">
          <div class="col-md-2">


              <app-list-medias [video]="videoSelected" [audio]="audioSelected" [photo]="photoSelected"></app-list-medias>
              <div class="panel panel-default">
              <div class="panel-heading">Actualités</div>
                    <div class="panel-body">
                      Le Lorem Ipsum est simplement du faux texte employé dans la
                       composition et la mise en page avant impression.
                    </div>
              </div>
          </div>
          <div class="col-md-7">
            <app-my-audio *ngIf="audioSelected"></app-my-audio>
            <app-my-video *ngIf="videoSelected"></app-my-video>
            <app-my-gallery *ngIf="photoSelected"></app-my-gallery>
              <router-outlet></router-outlet>
          </div>
          <div class="col-md-3">
            <div class="btn-group-vertical" role="group" aria-label="...">
                   <a class="btn btn-primary"  [routerLink]="['/register']" >
                     Inscription
                  </a>
                  <a [routerLink]="['/login']" class="btn btn-primary" >
                    Administration
                 </a>
            </div>
          </div>

      <div>
</div>
